body {
    font-family: Arial, sans-serif;
    background: #f3f0ca;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #050505;
}

#banner {
    height: 30vh;
    background-size: contain;
}

#banner h1 p {
    font-size: 300%;
    margin: 10px;
}

#banner {
    background-color: #d9e9f5;
    background-image: url(../../img/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    text-align: center;
    height: 60vh;
    padding: 1rem;
}

#banner h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: clamp(1rem, 4vw, 6rem);
    margin: 50px;
}

#banner p {
    font-style: italic;
    font-size: 120%;
}

#form-reserva {
    font-style: normal;
    font-size: 90%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

input,
select,
button {
    margin: 5px 0;
    padding: 8px;
    background: #eed891;
}

.error {
    color: red;
    margin-top: 10px;
}

.reserva {
    background: #f3ee95;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.reserva button {
    margin: 2px;
}

footer p {
    font-style: normal;
    font-size: 70%;
    font-weight: 600;
    margin: 0;
    padding: 20px 20px;
}
